@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

/* .bottom-footer{
	margin-top: 50px;
} */
.bottom-footer-container {
	max-width: 1180px;
	margin: auto;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	color: black;
}

.bottom-footer-row {
	display: flex;
	flex-wrap: wrap;
}

.bottom-footer-full-list {
	list-style: none;
}

.bottom-footer{
	background-color: #ffe2ea;
	padding: 70px 0;
}

.bottom-footer-col {
	width: 22%;
	padding: 0 15px;
	

}

.bottom-footer-col h4 {
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.bottom-footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.bottom-footer-list:not(:last-child) {
	margin-bottom: 10px;
}




 .bottom-footer-list .all-social-lick-anchor {
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}

.bottom-footer-list .all-social-lick-anchor:hover {
	color: #e60041;
	padding-left: 8px;
}


.botttom-footer-social-links .all-social-lick-anchor {
	box-shadow: 1px 10px 10px 1px rgb(186, 186, 202);
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(238, 16, 16, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.botttom-footer-social-links .all-social-lick-anchor:hover {
	color: #24262b;
	background-color: #ffffff;
}

.footer-copyright {
	/* align-items: center; */
	margin-left: 70px;
	margin-top: 30px;
	margin-bottom: -20px;
}

.footer-copyright-left {
	float: left;
}

.footer-copyright-right {
	float: right;
	margin-right: 30px;
}

@media(max-width: 767px) {
	.bottom-footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.bottom-footer-container {
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: auto;
		display: flex;
	}

	.footer-copyright {
		justify-content: center;
		align-items: center;
		margin: auto;
		display: flex;
	}
	.footer-copyright-left {
		margin-top: 30px;
		margin-bottom: -20px;
	}
	.footer-copyright-right {
		display: none;
	}
}